@font-face {
    font-family: Moranga;
    src: url(./Fonts/moranga.ttf);
}

@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Bold.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Semibold.otf);
}


@font-face {
    font-family: Gilroy;
    src: url(./Fonts/Gilroy-Medium.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: "Moranga";
    color: #fff;
    cursor: default;
}

*::selection{
    background-color: #fc626a;
    color: black;
}

html,body{
    height: 100%;
    width: 100%;
    /* background-color: black; */
}


main{
    background-color: #111;
    position:relative;
    width: 100%;
    overflow: hidden;
}



/* navbar ka code yaha se chalu kiya hu */

nav{
    /* background-color: black; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 4px 22px;
    width: 100%;
    position: fixed;
    top: 2vh;
    overflow: hidden;
    z-index: 99;
}


nav > a{
    font-size: 2.5vw;
    color: #fff;
    line-height: 2.4vw;
    width: 10vw;
    text-decoration: none;
}



.resume-btn{
    padding: 0.9vmax 1.5vmax;
    right: 2vmax;
    top: 1vmax;
    z-index: 1111;
    display: flex;
    border-radius: 5vmax;
    border: none;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    align-items: center;
    -ms-flex-align: center;
    -webkit-box-align: center;
    -webkit-box-shadow: 0 0 1vmax #fc626a;
    box-shadow: 0 0 1vmax #fc626a;
    background: -webkit-gradient(linear,left,top,right top,from(#fe7d84),to(#fc626a));
    background: -o-linear-gradient(left,#fe7d84,#fc626a);
    background: linear-gradient(to right,#fe7d84,#fc626a);
    background: -webkit-gradient(linear,left,top,right top, from(#45d6e7),to(#38cdfa));
    background: -o-linear-gradient(left,#45d6e7,#38cdfa);
    background: linear-gradient(to right,#45d6e7,#38cdfa) ;
    --webkit-transition:0.5s all;
    -o-transition: 0.5s all;
    transition: 0.5s all;
    cursor: pointer;
}

.resume-btn a {
    font-size: 1.1vmax;
    font-family: 'Gilroy';
    font-weight: 600;
}



nav svg{
    height:5.1vw;
    cursor:pointer;
    border-radius: 50%;
}

/* Responsive Navbar */
@media(max-width:600px){
    nav{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: space-between;
        -ms-flex-pack: justify;
        -webkit-box-pack: justify;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 4px 19px;
        width: 100%;
        position: fixed;
        top: 2vh;
        overflow: hidden;
        z-index: 99;
    }

    nav > a {
        font-size: 7vw;
        color: #fff;
        line-height: 7vw;
        text-decoration: none;
        width: 10vw;
    }


    nav svg{

        height: 12.1vw;
        cursor: pointer;
        margin-left: 7.1vw;
        border-radius: 50%;
    }

    .resume-btn{
        padding: .9vmax 1.6vmax;
        /* margin-left: -11vw; */
        display:-webkit-box;
        display: flex;
        display: -ms-flexbox;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        margin-right: 0vw;
    }
   
}


/* Page 1 code */

/* main section #page1{
    min-height: 100vh;
    width: 100%;
    
} */

#page1{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    position: relative;
    
}

#page1 h1{
    /* margin-top: 1vw; */
    font-size: 3.7vmax;
    margin-bottom: 2.3vmax;
}

#image-div{
    height: 67vmin;
    width: 70vmax;
    overflow:hidden;
}

#image-div img{
    height: 100%;
    width:100%;
    object-fit: cover;
    object-position: center;
}

/* Page 1 responsive  */

@media (max-width:600px) {
    #page1{
        min-height: 73vh;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        position: relative;
    }

    #page1 h1{
        font-size: 4.6vmax;
        margin-bottom: 2.5vmax;
    }
    #image-div {
        height: 45vmax;
        width: 75vw;
        overflow: hidden;
        margin-bottom: 2vmax;
        /* clip-path: ellipse(40% 50% at 50% 50%); */
    }
    #image-div img{
        object-fit: cover;
        object-position: bottom;
        height: 100%;
        width: 100%;
    }
}


/* Page 2 code */

#page2{
    margin-top: 10vh;
    min-height: 100vh;
    width: 100%;
    /* padding-top: 10vh; */
    position: relative;
}


.name-div{
    padding: 2vw;
    width: 100%;
    white-space: nowrap;
    position: relative;
    overflow-x: auto;
    
    margin-bottom: 13vh;
    overflow-y: hidden;  
    /* display: inline-block; */
    /* background-color: yellow; */
    /* animation-name: namemoving;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; */
}



.name-div::-webkit-scrollbar{
    display: none;
}

.name-div h1{
    font-size: 8vw;
    margin-right: 2vw;
    display: inline-block;
}

/* @keyframes namemoving {
    0%{
        transform: translateX(calc(-100% - 2vw -4px));
    }

    100%{
        transform: translateX(calc(-100% - 2vw -4px));
    }
} */

#intro-div{
    text-align: center;
    width: 80%;
    padding-top: 4vh;
    padding-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
}

#intro-div h1{
    word-spacing: 0.2vw;
    letter-spacing:0.01vw;
    font-size: 4.4vw;
    line-height: 1.3;
}

#intro-div h1 a{
    text-decoration: underline;
}

#intro-div h1 span.a{
    color: #fe7d84;
}

#intro-div h1 span.b{
    color: #38cdfa;
}

#intro-div #prof{
    height: 80px;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2vmax;
}

#intro-div a img{
    height: 6.8vmax;
}


/* Page 2 responsive */

@media(max-width:600px){
    #page2{
        padding-top: 10vh;
        min-height: 100vh;
        width: 100%;
        position:relative;
    }
    #name-div{
        width: 100%;
        white-space: nowrap;
        position: relative;
        overflow-x: auto;
        margin-bottom: 1vh;
        overflow-y: hidden;
    }
    #name-div::-webkit-scrollbar{
        display: none;
    }
    #name-div h1{
        font-size: 14.6vw;
        display: inline-block;
        margin-right: 2vw;
    }
    #intro-div{
        text-align: center;
        width: 90%;
        padding-top: 2vh;
        padding-bottom: 8vh;
        margin-left: auto;
        margin-right: auto;
    }
    #intro-div h1{
        word-spacing: 0.6vw;
        letter-spacing: 0.01vw;
        font-size: 8.2vw;
        font-weight: 100;
        line-height: 11.8vw;
    }

    #intro-div h1 a{
        height: 70px;
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2vmax;
        margin-left: auto;
        margin-right: auto;
    }
    #intro-div a img{
        height: 9.9vmax;
    }
}


/* Page 3 */

#page3{
    min-height: 100vh;
    width: 100%;
    background-color: #2222;
    padding: 7vh 5.1vw;
    position: relative;
    padding-top: 15vh;
}


#page3 > h3{
    font-size: 4.8vmax;
    font-family: Gilroy;
    margin-bottom: 2vmax;
}

#page3 > h3 span{
    font-size: 4.8vmax;
    font-family: Gilroy;
    color: #38cdfa;
}

#page3 > h5{
    font-size: 2.2vmax;
    font-family: gilroy;
    margin-bottom: 1.4vmax;
}


.box h4{
    font-size: 2vmax;
    border: 2px solid white;
    display: inline-block;
    font-family:Gilroy;
    font-weight: 500;
    padding: 6px 14px;
    border-radius: 7px;
    margin-top: 4vmax;
    margin-bottom: 1.6vmax;
}

.box img{
    height: 5vmax;
    margin-right: 12px;
    margin-bottom: 10px;
    background-color: #fff;
    padding: 5px;
    position: relative;
    border-radius: 8px;
}

.des-box img{
    height: 6vmax;
    margin-right: 1.4vmax;
}

/* page 3 responsive */

@media (max-width:600px) {
    #page3{
        min-height: 67vh;
        width: 100%;
        background-color: #222;
        padding: 5vh 5.1vw;
        position: relative;
    }

    #page3 > h3 {
        font-size: 4.4vmax;
        font-family: Gilroy;
        margin-bottom: 0vmax;
    }

    #page3 > h3 span{
        font-size: 4.4vmax;
        font-family: Gilroy;
        color: #38cdfa;
    }

    #page3 > h5{
        font-size: 2.2vmax;
        font-family: Gilroy;
        font-weight: 500;
        margin-bottom: 1.4vmax;
    }

    .box h4{
        font-size: 2.1vmax;
        border: 2px solid white;
        display: inline-block;
        font-family: Gilroy;
        color:#fff;
        font-weight: 500;
        padding: 5px 9px;
        border-radius: 7px;
        margin-top: 4vmax;
        margin-bottom: 2vmax;
    }

    .box img{
        height: 5.8vmax;
        margin-right: 5px;
        background-color: #fff;
        padding: 4px;
        position: relative;
        border-radius: 5px;
    }

    .des-box img{
        height: 6.7vmax;
        margin-right: 5px;
    }
}


/* page 4 code */

#page4{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(48,48,48);
    position: relative;
    padding: 5vh 4vw;
}


#page4 > h2{
    font-size: 3.7vmax;
    font-weight: 600;
    font-family: Gilroy;
}

#page4 > h2 span {
    font-size: 3.7vmax;
    font-weight: 600;
    font-family: Gilroy;
    color: #fc626a;
}

#page4 > h4{
    font-size: 1.85vmax;
    font-weight: 500;
    margin-bottom: 3vmax;
    font-family: Gilroy;
}


.work-sample{
    background-color: #fff;
    height: 76vh;
    margin-bottom: 4vmax;
    display: flex;
    border-radius: 10px;
    padding: 2vh;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.work-sample img{
    height: 13vmax;
    box-shadow: 1px 7px 20px rgba(0,0,0,0.4);
}

#page4 > a{
    display: block;
    text-align: right;
    margin-bottom: 3vmax;
    padding: 0 1vw;
}

#page4 > a img{
    height: 4.2vmax;
}

/* page 4 responsive */

@media (max-width:600px) {
    #page4{
        min-height: 100vh;
        width: 100%;
        background-color: #333;
        position: relative;
        padding: 4vh 4.9vw;
    }

    #page4 > h2{
        font-size: 4.4vmax;
        font-weight: 600;
        font-family: Gilroy;
    }

    #page4 > h4{
        font-size: 2.1vmax;
        font-weight: 500;
        margin-bottom: 3vmax;
        font-family: Gilroy;
    }

    .work-sample{
        background-color: #fff;
        height: 69vh;
        margin-bottom: 4.8vmax;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        padding: 2vh 1.5vh;
        border-radius: 10px;
    }
    .work-sample img{
        height: 23vw;
        margin: 0 2px;
        box-shadow: 1px 7px 15px rgba(0,0,0,0.25 );
    }

    #page4 > a{
        display: block;
        text-align: right;
        margin-bottom: 1vmax;
        padding: 0 1vw;
    }

    #page4 > a img{
        height: 6vmax;
    }
}


/* page 5  code*/

#page5{
    background-color: #222;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 4.5vh 4.2vw;
}

#page5 h1{
    font-size: 4.6vmax;
    font-family: Gilroy;
    margin-top: 1vmax;
    margin-bottom: 3.5vmax;
}

#page5 h1 span{
    color: #f6ba53;
    font-family: Gilroy;
}


#artworks a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 72px;
    border-top: 2px solid #fff;
    padding: 0 3px;
    text-decoration: none;
}


#artworks a:nth-last-child(1){
    border-bottom: 2px solid #fff;
    margin-bottom: 5vmax;
}

#artworks a h4{
    font-size: 1.7vmax;
    position: relative;
    z-index: 99;
    transition: color ease-in 0.4s;
    width: 12%;
}

#artworks a h5{
    font-size: 1.8vmax;
    font-weight: 600;
    width: 30%;
    position: relative;
    transform: color ease-in 0.4s;
    z-index: 99;
}

#artworks a h6{
    font-size: 1.6vmax;
    width: 30%;
    position: relative;
    text-align: right;
    z-index: 99;
    transition: color ease-in 0.4s;
}

#sliding-div{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 9;
    width: 0%;
    transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
    background-color: #fff;
}

#artworks a:hover #sliding-div{
    width:100%;
}

#artworks a:hover h4{
    color: #222;
}

#artworks a:hover h5{
    color: #222;
}

#artworks a:hover h6{
    color: #222;
}

/*page5 responsive  */

@media (max-width:600px) {

    #page5{
    background-color: #222;
    min-height: 100vh;
    width: 100%;
    position: relative;
    padding: 4.5vh 4.2vw;
}

#page5 h1{
    font-size: 4vmax;
    font-family: Gilroy;
    margin-top: 0vmax;
    margin-bottom: 5vmax;
}

#page5 h1 span{
    color: #f6ba53;
    font-family: Gilroy;
}


#artworks a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    height: 60px;
    border-top: 2px solid #fff;
    padding: 0 2px;
    text-decoration: none;
}


#artworks a:nth-last-child(1){
    border-bottom: 2px solid #fff;
    margin-bottom: 5vmax;
}

#artworks a h4{
    font-size: 2.3vmax;
    position: relative;
    z-index: 99;
    transition: color ease-in 0.4s;
    width: 18%;
}

#artworks a h5{
    font-size: 1.9vmax;
    font-weight: 600;
    width: 33%;
    position: relative;
    transform: color ease-in 0.4s;
    z-index: 99;
}

#artworks a h6{
    font-size: 1.9vmax;
    width: 29%;
    position: relative;
    text-align: right;
    z-index: 99;
    transition: color ease-in 0.4s;
}

#sliding-div{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 9;
    width: 0%;
    transition: width cubic-bezier(0.19, 1, 0.22, 1) 1.3s;
    background-color: #fff;
}

#artworks a:hover #sliding-div{
    width:100%;
}

#artworks a:hover h4{
    color: #222;
}

#artworks a:hover h5{
    color: #222;
}

#artworks a:hover h6{
    color: #222;
}
}

/* page 6 */

#page6{
    width: 100%;
    min-height: 100vh;
    margin-top: 0vh;
    padding: 0 2vmax;
    background-color: rgb(48,48,48);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

#page6 > h1{
    font: 700 9.05vmax "Gilroy";
    font-weight: 900;
    line-height: 1.2;
    word-spacing: 1.2;
    letter-spacing: -2px;
}

.mail a{
    text-decoration: none;
    color: #fc626a;
}

.mail a:hover{
    text-decoration: line-through;
}

.mail a{
    font-family: Gilroy;
}

.instagram a {
    font-family: Gilroy;
}

.linkedin a {
    font-family: Gilroy;
}

.instagram a:hover{
    text-decoration: line-through;
}
.instagram a{
    color: #f6ba53;
    text-decoration: none;
}

.linkedin a{
    color: #51cde7;
    text-decoration: none;
}

.linkedin a:hover{
    text-decoration: line-through;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.2vmax 0;
    font-family: Gilroy;
    font-weight: 600;
    font-size: 1.8vmax;
}
    
footer span{
    font-family: Gilroy;
    
}

footer .heart{
    background:linear-gradient(aqua,lawngreen);
    color: transparent;
    background-clip: text;
    margin: 0 1vw;
}


/* page 6 responsive */

@media (max-width:600px){
    #page6{
    width: 100%;
    min-height: 100vh;
    margin-top: 0vh;
    padding: 0 2vmax 25vmax;
    background-color: rgb(48,48,48);
    color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}

    #page6 > h1 {
        font-size:7.4vmax;
    }

    footer{
        font-size: 2vmax;
    }

    .author{
        font-size: 5vmax;
    }

    footer > img {
        width: 3vmax;
    }
}
